html, body { margin: 0; padding: 0; font: 100%/1.4 arial, sans-serif; color: #24292e; }
div#container { margin: 25px auto; max-width: 900px; }
div#container > div { border-radius: 5px; border: 1px solid #eaecef; margin: 0 10px; padding: 10px; }
div#footer { margin: 25px 0 0 0; padding: 10px; text-align: center; font-size: 14px; }
h1, h2 { border-bottom: 1px solid #eaecef; padding-bottom: 5px; word-break: break-all; }
h3 { margin: 15px 0 5px; padding: 0; }
div ~ h2 { margin-top: 75px; }
h3 + p { margin: 0; padding: 5px 0 5px 5px; }
span.label { display: block; padding: 5px 0; }
a { text-decoration: none; color: #5466d9; }
a:hover { text-decoration: underline; }

code { background-color: rgba(27, 31, 35, 0.05); font-size: 16px; }
code.code-block { position: relative; display: block; border-radius: 5px; margin: 10px 0; border: 1px solid #eaecef; padding: 20px 10px 0 10px; background-color: #fff; overflow: auto; }
code.code-block pre { padding-bottom: 16px; overflow: auto; }
span.code-label { position: absolute; top: 0; right: 0; display: block; border-bottom-left-radius: 5px; padding: 5px; width: 75px; text-align: center; font: bold 14px arial, sans-serif; }
span.code-label.html { background-color: #e34c26; color: #fff; }
span.code-label.css { background-color: #c6538c; color: #fff; }
span.code-label.js { background-color: #f1e05a; color: #000; }

div.collapsible-element { border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; background-color: #f6f8fa; max-height: 0; padding: 0 10px; overflow: hidden; transition: all .25s ease-out }
a.collapse { display: inline-block; padding: 5px 10px 5px 5px; }
a.collapse.active { border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; background-color: #f6f8fa; }

div.output { background-color: #ffc; padding: 10px; }
